<% if users.any? %>
<div class="row mt-5">
  <% users.each do |user| %>
  <div class="col-md-3 mt-4">
    <div id="usercard" class=" card shadow" >
      <div class="card-img-top">
        <% if user.avatar.attached? %>
          <%= image_tag user.avatar.variant(combine_options:{resize:"318x244.8^",crop:"318x244.8+0+0",gravity: :center}).processed %>
        <% else %>
          <%= image_tag ("no_image.png"), class:"avatar" %>
        <% end %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= user.name %></h5>
        <div class="card-text">
          <% if user.challenges.first != nil %>
           <p>目標: <%= user.challenges.first.goal %></p>
           <p>挑戦中: <%= user.challenges.first.challenge %> etc...</p>
          <% else %>
           <p>目標：未設定</p>
           <p>挑戦中：未挑戦</p>
          <% end %>
          <p class="btn btn-light btn-sm"><%= link_to "プロフィールへ", user_path(user), class: "link" %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
<%= paginate users %>
<% end %>
  