<% if users.any? %>
<div class="row no-gutters">
  <% users.each do |user| %>
  <div class="col-md-3">
    <div class="card mt-3 mb-4 shadow-sm ml-2 mr-2">
      <div class="card-body">
        <% if user.avatar.attached? %>
        <%= image_tag user.avatar.variant(combine_options:{resize:"300x300^",crop:"300x300+0+0",gravity: :center}).processed,class:"card-img" %>
        <%# image_tag user.avatar, class:"card-img" %>
      <% else %>
        <%# image_tag ("no_image.png"), class:"avatar", style:"width:300px; height:300px;"%>
        <%= image_tag ("no_image.png"), class:"card-img"%>
      <% end %>
        <h5 class="card-title mt-2"><%= user.name %></h5>
        <div class="card-text">
          <% if user.challenges.first != nil %>
           <p>目標: <%= user.challenges.first.goal.truncate(5) %></p>
           <p>挑戦中: <%= user.challenges.first.challenge.truncate(5) %></p>
          <% else %>
           <p>目標：未設定</p>
           <p>挑戦中：未挑戦</p>
          <% end %>
          <p class="btn btn-light btn-sm"><%= link_to "プロフィールへ", user_path(user), class: "link" %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<%= paginate users %>
<% end %>