<div class="user-top center">
  <div class="usertop-left">
    <div id="usershow-card"class=" card shadow" >
      <div class="card-img-top">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar.variant(combine_options:{resize:"318x244^",crop:"318x244+0+0",gravity: :center}).processed %>
        <% else %>
          <%= image_tag ("no_image.png"), class:"avatar" %>
        <% end %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= @user.name%></h5>
        <%= render 'relationships/influence_button', user: @user %>
      </div>
    </div>
  </div>
  <div class="usertop-right">
    <h5 id="user-tr-h5" class=" border-white border-bottom"><span id="influence"><%= @count_influencers %></span>　インフルエンス</h5>
  </div>
</div>
<div class="row py-5">
  <div class="col-md-2 offset-md-1">
    <strong><i class="fas fa-user-circle"></i>　プロフィール：</strong>
    <p class="ml-4 mt-3"><button class="btn btn-success btn-sm"><%= link_to 'ユーザー編集', edit_user_path(@user), class: "user-link" %></button></p>
    <p class="ml-4 mt-3"><button class="btn btn-success btn-sm"><%= link_to 'ユーザーリスト', users_path, class: "user-link" %></button></p>
  </div>
  <div class="col-md-8">
    <div class="card ml-3">
        <div class="card-body">
        　　<%= simple_format(@user.profile) %>
        </div>
    </div>
  </div>
</div>
<div class="row mt-4 mb-5">　
  <div class="col-md-2 offset-md-1">
    <strong><i class="fas fa-running"></i>　　挑戦中：</strong>
     <p class="ml-2 mt-3"><button class="btn btn-success btn-sm"><%= link_to '新しい挑戦を追加する', new_challenge_path,class: "user-link" %></button></p>
  </div>
  <div class="col-md-8">
    <%= render 'challenges/challenges', challenges: @challenges %>
  </div>
</div>
<footer class="last-foot mt-">
  <div class="text-center mt-3">    
    <a class="ml-3 text-black-50"  href="/protocol">利用規約</a>
    <a class="ml-2 text-black-50" href="/privacy">プライバシポリシー</a>
  </div>
  <div class="row mt-2">
    <div class="col-lg-8 col-md-10 mx-auto">
      <ul class="list-inline text-center">
        <li class="list-inline-item">
          <a href="#" class="foot-icon">
            <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="foot-icon">
            <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="foot-icon">
            <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      </ul>
      <p class="copyright text-center">Copyright &copy; 2020 easyma, inc All rights reserved.</p>
    </div>
  </div>
</footer>