<div class="user-top center">
  <div class="usertop-left ml-3">
    <div class="card  mb-4 shadow-sm" id="usershow-card">
      <div class="card-body"> 
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar.variant(combine_options:{resize:"300x300^",crop:"300x300+0+0",gravity: :center}).processed,class:"card-img" %>
        <% else %>
          <%= image_tag ("no_image.png"), class:"card-img"%>
        <% end %>
        <h5 class="card-title mt-2"><%= @user.name %></h5>
        <%= render 'relationships/influence_button', user: @user %>
      </div>
    </div>
  </div>
</div>
<div class="row no-gutters py-5">
  <div class="col-md-2 offset-md-1 mt-4">
    <strong><i class="fas fa-hand-holding-heart"></i>　影響力：</strong>
  </div>
  <div class="col-md-8">
    <div class="influencer">
      <h2 id="user-tr-h5"><%= @user.name %>さんの挑戦が <span id="influence" class="text-warning"> <%= @count_influencers %></span>人 の方に影響を与えています!</h2>
    </div>
  </div>
</div>
<div class="row no-gutters py-5">
  <div class="col-md-2 offset-md-1">
    <strong><i class="fas fa-user-circle"></i>　プロフィール：</strong>
    <% if @user == current_user  %>
      <p class="ml-4 mt-3"><button class="btn btn-success btn-sm"><%= link_to 'ユーザー編集', edit_user_path(@user), class: "user-link" %></button></p>
    <% end %>
  </div>
  <div class="col-md-8">
    <div class="card ml-3">
        <div class="card-body">
        　　<%= simple_format(@user.profile) %>
        </div>
    </div>
  </div>
</div>
<div class="row no-gutters mt-4 mb-5">　
  <div class="col-md-2 offset-md-1">
    <strong><i class="fas fa-running"></i>　挑戦中：</strong>
    <% if @user == current_user  %>
     <p class="ml-2 mt-3"><button class="btn btn-success btn-sm"><%= link_to '挑戦を追加', new_challenge_path,class: "user-link" %></button></p>
    <% end %>
  </div>
  <div class="col-md-8">
    <%= render 'challenges/challenges', challenges: @challenges %>
  </div>
</div>
<%= render 'layouts/footer' %>