<ul class="list-unstyled">
  <% episodes.each do |episode| %>
    <li>
      <div class="card mt-3 mb-3">
        <div class="card-header">
          <span class="text-muted">エピソード投稿日 &#058; <%= episode.created_at.to_s(:datetime_jp) %></span>
        </div>
        <div class="card-body">
          <div class="content">
           <p class=" border-bottom font-weight-bold">今回の取り組み</p>
           <p><%= simple_format(episode.content) %></p>
           <div>
             <% if episode.images.attached? %>  
              <%= image_tag episode.images, class: "img-fluid" %>  
             <% end %>  
           </div>
           <div>
             <% if episode.clip.attached? %>
               <div class="embed-responsive embed-responsive-21by9">
                <%= video_tag(url_for(episode.clip), controls:true, peload:"none", class: "embed-responsive-item") %> 
               </div>
             <% end %>  
           </div>
          </div>
          <div class="variation">
           <p class="border-bottom font-weight-bold">身に起きた変化</p>
           <p><%= simple_format(episode.variation) %></p>
          </div>
         <div class="userbutton-container">
           <% if current_user == episode.challenge.user %>
          　<p><%= link_to "エピソードを削除", episode, method: :delete, data: { confirm: "本当に削除してよろしいですか？" }, class: 'btn btn-danger btn-sm' %></p>
         　<% end %>
         </div>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate episodes %>
</ul>