<div class="text-center mt-5">
  <h1>エピソードを追加</h1>
</div>
<div class="row no-gutters">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model: @episode, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <%= f.hidden_field :this_challenge_id, value: @episode.challenge.id %>
        <div class="form-group">
          <%= f.label :content, '今回の取組み' %>
          <%= f.text_area :content, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :images, "画像添付" %>
          <%= f.file_field :images, class: 'form-control',accept: 'image/jpg,image/jpeg,image/gif,image/png'  %>
        </div>
        <div class="form-group">
          <%= f.label :clip, "動画添付" %>
          <%= f.file_field :clip, class: 'form-control',accept: 'video/mp4,video/quicktime'  %>
        </div>
        <div class="form-group">
          <%= f.label :variation, '身に起きた変化' %>
          <%= f.text_field :variation, class: 'form-control' %>
        </div>
        <%= f.submit 'エピソードを追加', class: 'btn btn-success btn-block' %>
    <% end %>
  </div>
</div>
<%= render 'layouts/wpfooter' %>