<ul class="list-unstyled">
<div class="card mt-3">
<% challenges.each do |challenge|%>
  <li>
  <div class="card mt-3">
  <div class="card-header">
  <span class="text-muted">挑戦スタート &#058; <%= challenge.created_at %></span>
  </div>
  <div class="card-body">
  <p>目標 &#058;<%= challenge.goal %></p>
  <p>挑戦内容 &#058; <%= challenge.challenge %></p>
  <div class="userbutton-container">
  <p class="ml-2"><button class="btn btn-secondary"><%= link_to "エピソードを見る", challenge_path(challenge), class: "user-link" %></button></p>
  <% if current_user == challenge.user %>
  <p class="ml-2"><button class="btn btn-secondary"><%= link_to "挑戦の更新", edit_challenge_path(challenge), class: "user-link" %></button></p>
  <p class="ml-2"><%= link_to "この挑戦を諦める", challenge, method: :delete, data: { confirm: "エピソードも消えてしまいます。本当によろしいですか？" }, class: 'btn btn-danger btn-sm' %></p>
  <% end %>
  </div>
  </div>
  </li>
<% end %>
<%= paginate challenges %>
 </ul>