<div class="row no-gutters mt-5">
  <div class="col-md-2 offset-md-1">
    <strong><i class="fas fa-running"></i>　挑戦中：</strong>
  </div>
  <div class="col-md-8">
    <div class="card ml-3">
        <div class="card-body">
          <h2 class="border-bottom font-weight-bold">目標 &#058; <%= @challenge.goal%></h2>
          <h2 class="font-weight-bold">挑戦 &#058; <%= @challenge.challenge %></h2>
        </div>
    </div>
  </div>
</div>
<div class="row no-gutters mt-4">　
  <div class="col-md-2 offset-md-1">
    <strong> エピソード一覧</strong>
    <% if current_user == @challenge.user %>
     <p class="ml-2 mt-3"><button class="btn btn-success btn-sm"><%= link_to 'エピソード追加', new_episode_path(@challenge), class: "user-link" %></button></p>
    <% end %>
    <p class="ml-2 mt-3"><button class="btn btn-success btn-sm"><%= link_to '挑戦一覧へ',user_path(@challenge.user), class: "user-link" %></button></p>
  </div>
  <div class="col-md-8">
    <%= render 'episodes/episodes', episodes: @episodes %>
  </div>
</div>
<%= render 'layouts/wpfooter' %>