<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNav">
      <a class="navbar-brand"  href="/"><%= image_tag ("logo.png"), size: '40x40'%></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <% if logged_in?%>
              <li class="nav-item font-weight-bold"><%= link_to 'ユーザーリスト', users_path, class: 'nav-link' %></li>
              <li class="nav-item font-weight-bold"><%= link_to 'ランキング', influencer_ranking_path, class: "nav-link" %></li>
              <li class="nav-item font-weight-bold"><%= link_to '挑戦を探す', challenges_path, class: 'nav-link' %></li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle font-weight-bold" data-toggle="dropdown"><%= current_user.name %></a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-item font-weight-bold"><%= link_to 'マイプロフィール', user_path(current_user), class: "link-navuser" %></li>
                  <li class="dropdown-item font-weight-bold"><%= link_to '新しい挑戦を追加', new_challenge_path, class: "link-navuser" %></li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-item font-weight-bold"><%= link_to 'ログアウト', logout_path, method: :delete, class: "link-navuser" %></li>
                  <li class="dropdown-item font-weight-bold"><%= link_to "退会",user_path(current_user.id), class: "destroy-users",method: :delete, data: { confirm: "全てのデータが消えてしまいます。本当に退会しますか？" } %></li>
                </ul>
              </li>
            <% else %>
              <li class="nav-item font-weight-bold"><%= link_to '新規登録', signup_path, class: 'nav-link' %></li>
              <li class="nav-item font-weight-bold"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
              <li class="nav-item font-weight-bold"><%= link_to 'ユーザーリスト', users_path, class: 'nav-link' %></li>
              <li class="nav-item font-weight-bold"><%= link_to 'ランキング', influencer_ranking_path, class: "nav-link" %></li>
              <li class="nav-item font-weight-bold"><%= link_to '挑戦を探す', challenges_path, class: 'nav-link' %></li>
            <% end %>
          </ul>
      </div>
  </nav>
</header>